body {
	background-color: #36454f;
	color: white;
}

h1 {
	font-family: 'Major Mono Display', monospace;
	color: white;
	font-size: 70px;

	}

#background {
  
}

.container {
	display: flex;
	flex-direction: column;
}

.item {
	flex-grow: 0;
	flex-shrink: 2;
}
